.stack-pane {
    -fx-background-image: url('ajaira11.jpg');
    -fx-background-size: cover;
    -fx-background-repeat:no-repeat;
}
.exitbutton {
  -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;


}
.exitbutton:hover {
-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);

}
.exitbutton:pressed {
    -fx-background-color: #990000; /* Pressed background color */
}
.rules {
    -fx-background-color: #AC9641; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 16px; /* Font size */
    -fx-font-family: "Droid Sans"; /* Font family */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 20%; /* Border radius */
}